*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,sans-serif;
}

body{
background:#f5f7fb;
}

.login-page{
display:flex;
justify-content:center;
align-items:center;
height:100vh;
background:#0d6efd;
}

.login-box{
background:#fff;
padding:30px;
width:90%;
max-width:350px;
border-radius:15px;
text-align:center;
box-shadow:0 5px 20px rgba(0,0,0,.2);
}

.login-box h2{
color:#0d6efd;
margin-bottom:10px;
}

.login-box p{
margin-bottom:20px;
color:#555;
}

.login-box input{
width:100%;
padding:12px;
margin:10px 0;
border:1px solid #ccc;
border-radius:10px;
outline:none;
font-size:16px;
}

.login-box button{
width:100%;
padding:12px;
background:#0d6efd;
color:#fff;
border:none;
border-radius:10px;
font-size:16px;
font-weight:bold;
cursor:pointer;
}

#dashboard{
display:flex;
min-height:100vh;
}

.sidebar{
width:230px;
background:#111827;
color:#fff;
padding:20px;
}

.sidebar h2{
text-align:center;
margin-bottom:30px;
color:#FFD700;
}

.sidebar ul{
list-style:none;
}

.sidebar li{
padding:12px;
margin:8px 0;
background:#1f2937;
border-radius:10px;
cursor:pointer;
transition:.3s;
}

.sidebar li:hover{
background:#0d6efd;
}

.content{
flex:1;
padding:20px;
}

.page{
background:#fff;
padding:20px;
border-radius:15px;
box-shadow:0 3px 10px rgba(0,0,0,.1);
}

.page h2{
color:#0d6efd;
margin-bottom:15px;
}